body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

#home {
  height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #f6e58d, #f79f1f); /* Gold gradient */
  color: #333; /* Darker text color for contrast */
}

.cid-rOM5rKjpOn {
  height: 89vh;
}

.brand {
  max-width: 120px; /* Set a maximum width for the logo */
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.7)); /* Drop shadow effect */
  transition: transform 0.3s; /* Smooth transition for hover effect */
}

.brand:hover {
  transform: scale(1.05); /* Slightly enlarge the logo on hover */
}

.cid-rOM5rKjpOn .container {
  height: 100%;
}

.cid-rOM5rKjpOn h1 {
  padding-bottom: 15px;
  color: #f39c12; /* Gold color for headings */
}

.cid-rOM5rKjpOn p {
  padding-bottom: 20px;
}

.cid-rOM5rKjpOn .text-section {
  padding-top: 5vh;
}

.banner-text {
  padding-right: 20px;
}

nav {
  height: 11vh;
  padding: 20px 0;
}

.display-1 {
  font-family: "DM Sans", sans-serif;
  font-size: clamp(2.26rem, 4vw, 4.6rem);
  line-height: 1.1;
  color: linear-gradient(135deg, #f6e58d, #f79f1f); /* Gold gradient */
  padding-top: 4vh;
  filter: drop-shadow(2px 2px 2px rgb(0, 0, 0)); /* Drop shadow effect */
}

.display-7 {
  font-family: "DM Sans", sans-serif;
  font-size: clamp(1.14rem, 2vw, 1.4rem);
  line-height: 1.4;
  color: #fafaf9;
  filter: drop-shadow(2px 2px 2px rgb(0, 0, 0)); /* Drop shadow effect */
}

.banner {
  width: 100%;
  height: 60vh;
  background-size: cover; /* Removed !important */
  background-position: center; /* Removed !important */
  filter: drop-shadow(2px 2px 2px rgb(0, 0, 0)); /* Drop shadow effect */
}

.timer {
  color: #ffffff;
  margin: 20px 0; /* Adjust margin for better spacing */
  font-family: "Roboto", sans-serif;
  text-align: center; /* Center the timer text */
}

.timer p {
  margin-bottom: 0;
  font-size: 38px;
  font-weight: bold;
  filter: drop-shadow(2px 2px 2px rgb(0, 0, 0)); /* Drop shadow effect */
}
.text-success h4 {
  margin-bottom: 0;
  font-size: 20px;
  margin-bottom: 5vh;
  filter: drop-shadow(
    2px 2px 2px rgba(0, 0, 0, 0.314)
  ); /* Drop shadow effect */
}
.btn-primary {
  filter: drop-shadow(2px 2px 2px rgb(0, 0, 0)); /* Drop shadow effect */
  background-color: #e67e22; /* Darker gold color on hover */
  border-color: #e67e22; /* Darker border on hover */
}

.timer h5 {
  font-size: 15px;
  color: #ffffff;
  filter: drop-shadow(
    2px 2px 2px rgba(0, 0, 0, 0.763)
  ); /* Drop shadow effect */
}

.timer .sep {
  margin-top: 18px;
}

@media only screen and (max-width: 767px) {
  .banner-container {
    display: flex; /* Ensure the banner container is displayed */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items */
  }

  .text-success h4 {
    margin-bottom: 0;
    font-size: 14px;
    margin-bottom: 2vh;
    filter: drop-shadow(
      2px 2px 2px rgba(0, 0, 0, 0.314)
    ); /* Drop shadow effect */
  }

  .banner {
    height: 20vh; /* Adjusted height for smaller screens */
  }

  .cid-rOM5rKjpOn .text-section {
    text-align: center;
  }

  .timer p {
    font-size: 28px;
  }

  .timer h5 {
    font-size: 10px;
  }

  .banner-text {
    font-size: 12px;
  }

  nav {
    height: 11vh;
    position: relative; /* Make the nav a positioning context */
  }

  .brand {
    max-width: 150px; /* Set a maximum width for the logo */
    filter: drop-shadow(
      2px 2px 5px rgba(0, 0, 0, 0.7)
    ); /* Drop shadow effect */
    position: absolute; /* Position the logo absolutely */
    top: 50%; /* Move down 50% of the nav height */
    left: 50%; /* Move right 50% of the nav width */
    transform: translate(-50%, -50%); /* Center it perfectly */
    transition: transform 0.3s; /* Smooth transition for hover effect */
    padding-top: 10vh;
  }

  .brand:hover {
    transform: translate(-50%, -50%) scale(1.05); /* Enlarge the logo on hover */
  }

  .display-1 {
    padding-top: 7vh;
  }
}

.input-group {
  border-radius: 5px; /* Rounded corners */
  overflow: hidden; /* Prevents overlap of input and button */
}

.form-control {
  border: 1px solid #ccc; /* Light border */
  border-right: none; /* No right border for the input */
  padding: 8px; /* More padding for a better look */
  font-size: 10px; /* Slightly larger font */
  transition: border-color 0.3s; /* Smooth border color transition */
}

.form-control:focus {
  border-color: #f39c12; /* Gold color on focus */
  outline: none; /* Remove default outline */
}

.input-group-append .btn {
  border: 1px solid #f39c12; /* Match button border with gold color */
  border-left: none; /* No left border for the button */
  padding: 8px 8px; /* Comfortable padding */
  background-color: #f39c12; /* Gold button background color */
  color: white; /* Button text color */
  transition: background-color 0.3s; /* Smooth background color transition */
}

.input-group-append .btn:hover {
  background-color: #e67e22; /* Darker gold color on hover */
  border-color: #e67e22; /* Darker border on hover */
}

.g-recaptcha {
  margin: 20px 0; /* Add some spacing around the reCAPTCHA */
}
.spinner {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid #ffffff; /* Change to your primary color */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin-right: 5px; /* Space between icon and text */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
