body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#home {
  height: 100vh;
  width: 100%;
  background-color: rgb(7, 7, 65);
  color: #ffffff;
}

.cid-rOM5rKjpOn{
  height: 89vh;
}

.cid-rOM5rKjpOn .container{
  height: 100%;
  padding-top: 20px;
}

.cid-rOM5rKjpOn h1{
  padding-bottom: 15px;
}

.cid-rOM5rKjpOn p{
  padding-bottom: 20px;
}

.cid-rOM5rKjpOn .left{
  padding-top: 60px;
}

.banner-text {
  padding-right: 20px;
}

nav {
  height: 11vh;
  padding-top: 20px;
  padding-bottom: 20px;
}

.display-1 {
  font-family: "DM Sans", sans-serif;
  font-size: 4.6rem;
  line-height: 1.1 !important;
}

.display-7 {
  font-family: "DM Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.4 !important;
}

.banner {
  background-position: center !important;
  background-size: cover !important;
  background-image: url("./assets/images/banner.svg") !important;
  width: 100%;
  height: 60vh;
}

.timer {
  color: #ffffff;
  margin: 0 90px;
  font-family: "Roboto", sans-serif;
}

.timer p {
  margin-bottom: 0 !important;
  font-size: 38px;
  text-align: center;
  font-weight: bold;
}

.timer h5 {
  font-size: 12px;
  text-align: center;
  color: #9e9e9e;
}
.timer .sep {
  margin-top: 18px;
}

.md-timer {
  display: none;
}

@media only screen and (max-width: 767px) {
  .display-1 {
    font-size: calc(2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc(
      1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)))
    );
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc(1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc(
      1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)))
    );
  }
  .banner-container{
    display: none;
  }
  .cid-rOM5rKjpOn .left{
    text-align: center;
  }
}
